.square1-1 {
  background-color: green;
  height: 50px;
  width: 50px;
  border: 2px solid black;
  float: left;
  border-radius: 5%;
}
.square1-2 {
  background-color: blue;
  height: 50px;
  width: 50px;
  border: 2px solid black;
  float: left;
  border-radius: 5%;
}
.square1-3 {
  background-color: red;
  height: 50px;
  width: 50px;
  border: 2px solid black;
  float: left;
  border-radius: 5%;
}
.square2-0 {
  height: 50px;
  width: 50px;
  border: 2px solid black;
  border-radius: 5%;
}
.square2-1 {
  background-color: red;
  height: 50px;
  width: 50px;
  border: 2px solid black;
  float: left;
  border-radius: 5%;
}
.square2-2 {
  background-color: yellow;
  height: 50px;
  width: 50px;
  border: 2px solid black;
  float: left;
  border-radius: 5%;
}
.square2-3 {
  background-color: green;
  height: 50px;
  width: 50px;
  border: 2px solid black;
  float: left;
  border-radius: 5%;
}
.square3-0 {
  height: 50px;
  width: 50px;
  border: 2px solid black;
  border-radius: 5%;
}
.square3-1 {
  background-color: white;
  height: 50px;
  width: 50px;
  border: 2px solid black;
  float: left;
  border-radius: 5%;
}
.square3-2 {
  background-color: red;
  height: 50px;
  width: 50px;
  border: 2px solid black;
  float: left;
  border-radius: 5%;
}
.square3-3 {
  background-color: blue;
  height: 50px;
  width: 50px;
  border: 2px solid black;
  float: left;
  border-radius: 5%;
}
